:root {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 420;

  .nx-rounded-xl {
    border-radius: 5px;
  }

  .nx-text-gray-100 {
    color: var(--wa-neutral-100);
  }

  .nx-text-gray-200 {
    color: var(--wa-neutral-200);
  }

  .nx-text-gray-300 {
    color: var(--wa-neutral-300);
  }

  .nx-text-gray-400 {
    color: var(--wa-neutral-400);
  }

  .nx-text-gray-500 {
    color: var(--wa-neutral-500);
  }

  .nx-text-gray-600 {
    color: var(--wa-neutral-600);
  }

  .nx-text-gray-700 {
    color: var(--wa-neutral-700);
  }

  .nx-text-gray-800 {
    color: var(--wa-neutral-800);
  }

  .nx-text-gray-900 {
    color: var(--wa-neutral-900);
  }

  .nx-text-slate-900 {
    color: var(--wa-neutral-900);
  }

  .nx-bg-gray-100 {
    color: var(--wa-neutral-100);
  }

  .nx-bg-gray-200 {
    color: var(--wa-neutral-200);
  }

  .nx-bg-gray-300 {
    color: var(--wa-neutral-300);
  }

  .nx-bg-gray-400 {
    color: var(--wa-neutral-400);
  }

  .nx-bg-gray-500 {
    color: var(--wa-neutral-500);
  }

  .nx-bg-gray-600 {
    color: var(--wa-neutral-600);
  }

  .nx-bg-gray-800 {
    color: var(--wa-neutral-800);
  }

  .nx-bg-gray-900 {
    color: var(--wa-neutral-900);
  }

  .nx-bg-primary-100 {
    background-color: var(--wa-blue-100);
  }

  .nx-bg-primary-200 {
    background-color: var(--wa-blue-200);
  }

  .nx-bg-primary-300 {
    background-color: var(--wa-blue-300);
  }

  .nx-bg-primary-400 {
    background-color: var(--wa-blue-400);
  }

  .nx-bg-primary-500 {
    background-color: var(--wa-blue-500);
  }

  .nx-bg-primary-600 {
    background-color: var(--wa-blue-600);
  }

  .nx-bg-primary-800 {
    background-color: var(--wa-blue-700);
  }

  .nx-bg-primary-800 {
    background-color: var(--wa-blue-800);
  }

  .nx-bg-primary-900 {
    background-color: var(--wa-blue-900);
  }

  .nx-bg-primary-700\/5 {
    background-color: var(--wa-neutral-100);
  }
}

/* Main nav */
nav a span {
  font-weight: 500;
  color: #211f26;
  padding: 0 16px;
}

/* Hero */
.hero h1 {
  font-size: 68px !important;
  font-weight: 700;
  margin: 0 !important;
  line-height: normal;
}

.hero p {
  font-size: 20px !important;
  font-weight: 400;
  color: #211f26;
  margin: 8px 0 0 0 !important;
}

.wrapper {
  min-height: calc(100svh - 128px);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 56px !important;
  }

  .hero p {
    font-size: 18px !important;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 64px;
  }
}
/* Links */
a.nx-underline {
  text-decoration: none;
}

/* Headings */

h2 {
  border: none;
  font-weight: 700 !important;
}

h3 {
  font-size: 1.25rem !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 1rem !important;
  font-weight: 700;
}

/* Override Nextra for headings in-content */
.nextra-content h1 {
  margin-top: 1.5rem;
}

.nextra-content h2 ~ p {
  margin-top: 0.3rem;
}

.nextra-content h3 ~ p {
  margin-top: 0.3rem;
}

/* Set colors for common text elements */
p,
table,
ol,
ul {
  color: var(--wa-neutral-800);
}

:is(html[class~="dark"]) p {
  color: var(--wa-neutral-200);
}

:is(html[class~="dark"]) table {
  color: var(--wa-neutral-200);
}

:is(html[class~="dark"]) ol {
  color: var(--wa-neutral-200);
}

:is(html[class~="dark"]) ul {
  color: var(--wa-neutral-200);
}

/* Restyle Nextra Steps */
.nextra-steps h3:before {
  margin-top: -1px !important;
  color: var(--wa-neutral-600) !important;
}

:is(html[class~="dark"]) .nextra-steps h3:before {
  color: var(--wa-neutral-300) !important;
}

/* Callouts */
.nextra-callout svg {
  /* margin-top: 4px; */
}

/* Customize code styles */
code,
kbd,
samp,
pre {
  font-family:
    "JetBrains Mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace !important;
  font-weight: 420 !important;
}

code {
  background-color: var(--wa-neutral-100) !important;
  border-radius: 5px !important;
}

:is(html[class~="dark"]) code {
  background-color: var(--wa-neutral-700) !important;
}

pre {
  border: 1px solid var(--wa-neutral-200);
  background-color: var(--wa-neutral-100);
}

:is(html[class~="dark"]) pre {
  border: 1px solid var(--wa-neutral-600);
  background-color: var(--wa-neutral-800);
}

/* Tables */
table tr {
  background-color: transparent !important;
}

/* Table of contents */
.nextra-toc .divider {
  display: block;
  width: 100%;
  margin-top: 0.1em;
  border-top: 1px solid var(--wa-neutral-200);
}

.nextra-toc .top-divider {
  margin-top: 1.5em;
}

:is(html[class~="dark"]) .nextra-toc .divider {
  border-top: 1px solid var(--wa-neutral-700);
}
