/* Colors */
:root {
  /* Neutral */
  --wa-neutral-0: #fbfcfe;
  --wa-neutral-100: #f2f3f8;
  --wa-neutral-200: #e0e2eb;
  --wa-neutral-300: #cbd5e0;
  --wa-neutral-400: #9195a6;
  --wa-neutral-500: #636779;
  --wa-neutral-600: #404454;
  --wa-neutral-700: #232634;
  --wa-neutral-800: #0f111a;
  --wa-neutral-900: #05060b;

  /* Blue */
  --wa-blue-100: #f0f4ff;
  --wa-blue-200: #d6e4ff;
  --wa-blue-300: #aac9fd;
  --wa-blue-400: #69a0f7;
  --wa-blue-500: #3374db;
  --wa-blue-600: #0e4caf;
  --wa-blue-700: #002d75;
  --wa-blue-800: #001942;
  --wa-blue-900: #000e24;
}
