@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var(--blackground);
  color: var(--primary);
}

@font-face {
  font-family: "HarmonyOS Sans Thin";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Thin"),
    url("../public/fonts/HarmonyOS_Sans_Thin.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Thin Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Thin Italic"),
    url("../public/fonts/HarmonyOS_Sans_Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Light"),
    url("../public/fonts/HarmonyOS_Sans_Light.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Light Italic"),
    url("../public/fonts/HarmonyOS_Sans_Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Regular"),
    url("../public/fonts/HarmonyOS_Sans_Regular.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Italic"),
    url("../public/fonts/HarmonyOS_Sans_Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Medium"),
    url("../public/fonts/HarmonyOS_Sans_Medium.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Medium Italic"),
    url("../public/fonts/HarmonyOS_Sans_Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Bold"),
    url("../public/fonts/HarmonyOS_Sans_Bold.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Bold Italic"),
    url("../public/fonts/HarmonyOS_Sans_Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Black";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Black"),
    url("../public/fonts/HarmonyOS_Sans_Black.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Black Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Black Italic"),
    url("../public/fonts/HarmonyOS_Sans_Regular.woff") format("woff");
}

:root {
  font-family:
    "HarmonyOS Sans Regular",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;

  .nx-rounded-xl {
    border-radius: 5px;
  }
}

/* Main nav */
nav a span {
  font-family: "HarmonyOS Sans Medium";
  padding: 0 16px;
}

/* Hero */
.hero h1 {
  font-size: 68px;
  font-family: "HarmonyOS Sans Bold";
  margin: 0 !important;
  line-height: normal;
}

.hero h3 {
  margin: 0 !important;
  text-align: center;
  padding: 0 0 8px 0;
}

.hero-text p {
  font-size: 19px;
  font-family: "HarmonyOS Sans Light";
  margin: 8px 0 0 0;
}

.wrapper {
  min-height: calc(100svh - 128px);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 32px;
}

.connect-button {
  display: none;
}

.pop {
  width: 360px;
}

.pop-content {
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 24px;
}

.pop-content p {
  font-size: 16px;
  font-family: "HarmonyOS Sans Regular";
  margin: 0;
}

.pop-content button {
  padding: 16px;
  border: 1px solid var(--border);
  border-radius: 12px;
  width: 312px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
  transition: border 200ms ease 0s;
  text-align: left;
}

.pop-content button:hover {
  border-color: #3b82f6;
}

#idkit-widget {
  z-index: 100000;
  position: fixed;
}

.nx-shadow-\[0_2px_4px_rgba\(0\,0\,0\,\.02\)\,0_1px_0_rgba\(0\,0\,0\,\.06\)\],
.nx-shadow-lg {
  box-shadow: none;
}

.css-2mxilq {
  min-width: 140px !important;
}

@media screen and (max-width: 1024px) {
  .hero h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0;
  }

  .hero-text {
    padding-top: 64px;
  }

  .hero-text p {
    font-size: 18px;
  }

  .hero h1 {
    font-size: 52px;
  }

  .connect-button {
    margin-top: 32px;
    display: block;
  }

  .connect-embed {
    display: none;
  }

  .pop-content {
    border: none;
    padding-top: 8px;
    padding-bottom: 0;
  }
}

/* Links */
a.nx-underline {
  text-decoration: none;
}

/* Headings */

h2 {
  border: none;
  font-family: "HarmonyOS Sans Bold";
}

h3 {
  font-size: 1.25rem !important;
  font-family: "HarmonyOS Sans Bold";
}

h4 {
  font-size: 1rem !important;
  font-family: "HarmonyOS Sans Bold";
}

/* Override Nextra for headings in-content */
.nextra-content h1 {
  margin-top: 1.5rem;
}

.nextra-content h2 ~ p {
  margin-top: 0.3rem;
}

.nextra-content h3 ~ p {
  margin-top: 0.3rem;
}

/* Restyle Nextra Steps */
.nextra-steps h3:before {
  margin-top: -1px !important;
  color: var(--wa-neutral-600) !important;
}

:is(html[class~="dark"]) .nextra-steps h3:before {
  color: var(--wa-neutral-300) !important;
}

/* Customize code styles */
code,
kbd,
samp,
pre {
  font-family:
    "JetBrains Mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace !important;
}

code {
  border-radius: 5px !important;
}

pre {
  border: 1px solid var(--border);
}

:is(html[class~="dark"]) pre {
  border: 1px solid var(--border);
}

/* Tables */
table tr {
  background-color: transparent !important;
}

/* Table of contents */
.nextra-toc .divider {
  display: block;
  width: 100%;
  margin-top: 0.1em;
  border-top: 1px solid var(--border);
}

.nextra-toc .top-divider {
  margin-top: 1.5em;
}

:is(html[class~="dark"]) .nextra-toc .divider {
  border-top: 1px solid var(--border);
}
