@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var(--blackground);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "HarmonyOS Sans Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Light"),
    url("../public/fonts/HarmonyOS_Sans_Light.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Light Italic"),
    url("../public/fonts/HarmonyOS_Sans_Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Regular"),
    url("../public/fonts/HarmonyOS_Sans_Regular.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Italic"),
    url("../public/fonts/HarmonyOS_Sans_Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Medium"),
    url("../public/fonts/HarmonyOS_Sans_Medium.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Medium Italic"),
    url("../public/fonts/HarmonyOS_Sans_Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Bold"),
    url("../public/fonts/HarmonyOS_Sans_Bold.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Bold Italic"),
    url("../public/fonts/HarmonyOS_Sans_Bold_Italic.woff") format("woff");
}

:root {
  font-family:
    "HarmonyOS Sans Regular",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

  .nx-rounded-xl {
    border-radius: 5px;
  }
}

/* Main nav */
nav a span {
  font-family: "HarmonyOS Sans Medium";
  padding: 0 16px;
}

.nx-shadow-\[0_2px_4px_rgba\(0\,0\,0\,\.02\)\,0_1px_0_rgba\(0\,0\,0\,\.06\)\],
.nx-shadow-lg {
  box-shadow: none;
}

/* detailsButton */
.css-2mxilq {
  min-width: 140px !important;
}

.css-2mxilq:hover {
  border-color: #3b82f6 !important;
}

/* Hero */

.hero-text p {
  font-family: "HarmonyOS Sans Light";
}

#idkit-widget {
  z-index: 100000;
  position: fixed;
}

@media screen and (min-width: 425px) {
  .hero-text h1 {
    font-size: 64px !important;
  }

  .hero-text p {
    font-size: 19px !important;
  }

  h3 {
    font-size: 20px !important;
  }
}

/* Links */
a.nx-underline {
  text-decoration: none;
}

/* Headings */
h1,
h2,
h3,
h4 {
  font-family: "HarmonyOS Sans Bold";
}

/* Table of contents */
.nextra-toc .divider {
  display: block;
  width: 100%;
  margin-top: 0.1em;
  border-top: 1px solid var(--border);
}

.nextra-toc .top-divider {
  margin-top: 1.5em;
}

.connectButtonHover:hover {
  border-color: #3b82f6 !important;
}
