@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: var(--blackground);
  color: var(--primary);
}

@font-face {
  font-family: "HarmonyOS Sans Thin";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Thin"),
    url("../public/fonts/HarmonyOS_Sans_Thin.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Thin Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Thin Italic"),
    url("../public/fonts/HarmonyOS_Sans_Thin_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Light";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Light"),
    url("../public/fonts/HarmonyOS_Sans_Light.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Light Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Light Italic"),
    url("../public/fonts/HarmonyOS_Sans_Light_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Regular"),
    url("../public/fonts/HarmonyOS_Sans_Regular.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Italic"),
    url("../public/fonts/HarmonyOS_Sans_Regular_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Medium"),
    url("../public/fonts/HarmonyOS_Sans_Medium.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Medium Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Medium Italic"),
    url("../public/fonts/HarmonyOS_Sans_Medium_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Bold"),
    url("../public/fonts/HarmonyOS_Sans_Bold.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Bold Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Bold Italic"),
    url("../public/fonts/HarmonyOS_Sans_Bold_Italic.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Black";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Black"),
    url("../public/fonts/HarmonyOS_Sans_Black.woff") format("woff");
}

@font-face {
  font-family: "HarmonyOS Sans Black Italic";
  font-style: normal;
  font-weight: normal;
  src:
    local("HarmonyOS Sans Black Italic"),
    url("../public/fonts/HarmonyOS_Sans_Regular.woff") format("woff");
}

:root {
  font-family:
    "HarmonyOS Sans Regular",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 400;

  .nx-rounded-xl {
    border-radius: 5px;
  }
}

/* Main nav */
nav a span {
  font-family: "HarmonyOS Sans Medium";
  padding: 0 16px;
}

/* Hero */
.hero h1 {
  font-family: "HarmonyOS Sans Bold";
}

.hero-text p {
  font-family: "HarmonyOS Sans Light";
}

.wrapper {
  min-height: calc(100svh - 128px);
  margin: 0 auto;
}

.connect-button {
  display: none;
}

.pop {
  width: 360px;
}

.pop-content {
  border: 1px solid var(--border);
  border-radius: 20px;
}

.pop-content p {
  font-family: "HarmonyOS Sans Regular";
}

.pop-content button {
  border: 1px solid var(--border);
  width: 312px;
  transition: border 200ms ease 0s;
}

.pop-content button:hover {
  border-color: #3b82f6;
}

#idkit-widget {
  z-index: 100000;
  position: fixed;
}

.css-2mxilq {
  min-width: 140px !important;
}

@media screen and (max-width: 768px) {
  .connect-button {
    display: block;
  }

  .connect-embed {
    display: none;
  }

  .pop-content {
    border: none;
  }
}

/* Links */
a.nx-underline {
  text-decoration: none;
}

/* Headings */

h2 {
  border: none;
  font-family: "HarmonyOS Sans Bold";
}

h3 {
  font-size: 1.25rem !important;
  font-family: "HarmonyOS Sans Bold";
}

h4 {
  font-size: 1rem !important;
  font-family: "HarmonyOS Sans Bold";
}

/* Customize code styles */
code,
kbd,
samp,
pre {
  font-family:
    "JetBrains Mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace !important;
}

code {
  border-radius: 5px !important;
}

pre {
  border: 1px solid var(--border);
}

/* Table of contents */
.nextra-toc .divider {
  display: block;
  width: 100%;
  margin-top: 0.1em;
  border-top: 1px solid var(--border);
}

.nextra-toc .top-divider {
  margin-top: 1.5em;
}
